<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>lynker</h1>
    </header>
    <main>
      <div class="content-container">
        <input
          id="url-input"
          type="text"
          placeholder="https://someurl.com/wehjfowiehfoweihfoweiglwfmekwfjj"
        />
      </div>
      <div class="btn-container">
        <button id="shrink-btn">Shrink</button>
        <button id="expand-btn">Expand</button>
        <!-- <div class="lds-dual-ring"></div> -->
      </div>
      <!-- <div id="success-box">lynker.dev/vOf1f68</div> -->
      <!-- <div id="error-box">
        There was an error in your request. Please try again.
      </div> -->
    </main>

    <footer>
      <p>©Zaid Quadri</p>
      <a href="#"
        ><p><u>View Source</u></p></a
      >
    </footer>

    <script src="/static/js/lynker.js"></script>
  </body>
</html>
